.banner{
    background: rgba(0, 0, 0, 0.2)url(../../../images/banner.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.banner-text-part{

    background-color: var(--side);
    border-radius: 15px;
    
}

.banner-text{
    color: white;
    text-align: left;
    margin: 90px 0px;
}

.banner-text h1{
    font-size: 80px;
    font-weight: 600;

}
.banner-text p{
    font-size: 20px;
    color: black;
}
.have-look-btn{

    background-color:var(--main) ;
    color: white;
    padding: 30px;
    width: 250px;
    border: none;
    border-radius: 10px;
}